head
  style.
    #d1{
    border-collapse: collapse;
    padding: 5px;
    }
h1 My progress
table#d1(border='3px solid' cellpadding='20px')
  tr
    th Course name
  tr
    //- td #{courseinfo.name}
    td courseinfo.name 
